</main>
<footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">© Shine in Your Own Way. 
    </p>
    <p><a href="www.linkedin.com/in/helin-youns

" style="color:#03A6A1;">Helin Younis</a> <%= new Date().getFullYear() %></p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js
"></script>
<script src="/fileSystem.js"></script>

</body>

</html>